body {
    text-emphasis: bold;
    background-color: yellow;
    font-family: 'Courgette', cursive;

}

#mainContainer {
    margin: auto;
    text-align: center;
}

h1 {
    text-emphasis: bold;
    font-size: 50px;
}

h2,
.guess-boxes {
    text-emphasis: bold;
    font-size: 20px;
}